{% block doc -%}
<!DOCTYPE html>
<html>{% block html_attribs %}{% endblock html_attribs %}
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <!--    <link rel="stylesheet" href="style.css">-->
    {%- endblock styles %}

    {%- endblock head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <script src="scripts.js"></script>-->
    <script type="text/javascript">
      $(document).ready(function(){
        $(".like, .unlike").click(function(){
          var split_id = this.id.split('_');
          var text = split_id[0];
          var course_id = split_id[1];
          var type = 0;
          if(text=='like'){
              type=1;
          }else{
              type = 0;
          }

          $.ajax({
            url:'/likeunlike',
            type:'post',
            data:{course_id:course_id,type:type},
            dataType:'json',
            success:function(data){

            }
          });
        });
      });
    </script>
  </head>
  <body>{% block body_attribs %}{% endblock body_attribs %}
    {% block body -%}
    {% block navbar %}
    {%- endblock navbar %}
    {% block content -%}
      <div class="container">
        <div class="row">
          <div class="row">
            {% with messages = get_flashed_messages(with_categories = True) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
        </div>
        {% block app_content %}
        {% endblock %}
      </div>
    {%- endblock content %}

    {% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
