{% extends 'base.html' %}

{% block navbar %}
    {% include 'jumbo.html' %}
{% endblock %}

{% block app_content %}

    <h3>Here are your past searches:</h3>

        {% for query in history_queries %}
            <div class="container">
                <div class="panel panel-default" style="border:1px solid">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <h2>Search: {{ query.query_count }}</h2>
                        </div>
                        <div class="panel-body text-left">
                            <div class="col-md-4">
                                <h4>Topic: {{ query.query_text }}</h4>
                                <h4>Duration: {{  query.query_duration  }}</h4>
                            </div>
                            <div class="col-md-4">
                                <h4>Difficulty: {{ query.query_difficulty }}</h4>
                                <h4>Free/Paid: {{  query.query_free_option  }}</h4>
                                <a href="/history/{{ query.query_count }}" class="btn btn-primary pull-right">More Details</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
        {% endfor %}

{% endblock %}